.block-full-screen {
	display: block;
	@include media-breakpoint-down(lg) {
		display: none;
	}
	// .block-full-screen__row

	&__row {
		position: relative;
		padding-bottom: 45%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		position: relative;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		@include adaptiv-value("padding-top", 98, 50, 1);
		z-index: 2;
		h1 {
			font-family: inter-oh5;
			font-size: 26px;
			span {
				color: #d21e1e;
			}
		}
	}

	&__models {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 25%;
		width: 100%;
		max-width: 1375px
	}

	// .block-full-screen__items

	&__items {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 20px;
	}

	// .block-full-screen__item

	&__item {
		color: #fff;
		min-height: 350px;
		@include adaptiv-value("min-height", 250, 70, 1375);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: space-between;
		h3 {
			font-size: 36px;
			line-height: 42px;
			@include adaptiv-value("min-height", 36, 26, 1375);
			@include adaptiv-value("min-height", 42, 22, 1375);
		}
		p {
			font-size: 15px;
			line-height: 18px;
		}
	}
}

.block-models {
	position: relative;
	width: 100%;
	display: none;
	@include media-breakpoint-down(lg) {
		display: block;
	}
	// .block-models__row

	&__row {
	}

	// .block-models__item

	&__item {
		position: relative;
		height: calc(100vh);
		min-height: 400px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	// .block-models__content-top

	&__content-top {
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	// .block-models__title

	&__title {
		display: inline-flex;
		flex-wrap: nowrap;
		font-weight: 500;
		font-size: 41px;
		line-height: 49px;
		color: rgba(#fff, 0.75);
		text-align: center;
		margin-bottom: 10px;
		user-select: none;
	}

	// .block-models__model

	&__model {
		display: block;
		margin-right: 20px;
	}

	// .block-models__model-name

	&__model-name {
		display: block;
		text-transform: uppercase;
	}

	// .block-models__content-bottom

	&__content-bottom {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease-in-out;
	}

	// .block-models__price

	&__price {
		font-weight: 500;
		font-size: 20px;
		line-height: 18px;
		margin-right: 10px;
		min-width: 125px;
		transition: all 0.3s ease-in-out;
	}

	// .block-models__icon

	&__icon {
		flex: 0 0 44px;
		width: 44px;
		height: 44px;
		padding: 14px;
		background-color: #fff;
		border-radius: 50%;
		img {
			width: 100%;
			display: block;
		}
	}

	// .block-models_leasing

	&__leasing {
		position: absolute;
		width: 100%;
		top: 15%;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		@include adaptiv-value("padding-top", 98, 50, 1);
		z-index: 2;
		h3 {
			font-family: inter-oh5;
			font-size: 26px;
			span {
				color: #d21e1e;
			}
		}
	}
}
