.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 10;
	&__row {
		display: flex;
		align-items: center;
		min-height: 75px;
		padding: 15px;
	}
	&__logo {
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
	}
}
